{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
        <h2>Event Registration</h2>
            <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <p class="bs-component">
                    <div class="form-group">
                      <label class="required" for="id_name">{{ form.name.label_tag }}</label>
                      {{ form.name }}
                        {% if form.errors %}
                            {% for error in form.name.errors %}
                                <td>
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                </td>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                      {{ form.date }}
                      
                        {% if form.errors %}
                            {% for error in form.date.errors %}
                                <td>
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                </td>
                            {% endfor %}
                        {% endif %}
                    </div>
                        <div class="form-group">
                      <label class="required" for="id_attending">{{ form.attending.label_tag }}</label>
                      {{ form.attending }}
                        {% if form.errors %}
                            {% for error in form.attending.errors %}
                                <td>
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                </td>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                      <label class="required" for="id_image">{{ form.image.label_tag }}</label>
                      {{ form.image }}
                        {% if form.errors %}
                            {% for error in form.image.errors %}
                                <td>
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                </td>
                            {% endfor %}
                        {% endif %}
                    </div>
                </p>
                <p class="bs-component">
                        <input class="btn btn-success btn-sm" type="submit" value="Submit" />
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
